<!--<mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="deviceXs?false:true" position="start" fxFlex="20"
      fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="10" [style.top.px]="sideBarScroll()">
      <mat-list role="list" class="list-width" *ngFor="let i of [].constructor(1)">
        <mat-list-item role="listitem" class="list-item" matRipple>Dashboard</mat-list-item>
        <mat-list-item role="listitem" class="list-item" matRipple>Profile</mat-list-item>
        <mat-list-item role="listitem" class="list-item" matRipple>Upload Course</mat-list-item>
        <mat-list-item role="listitem" class="list-item" matRipple>logout</mat-list-item>
      </mat-list>
    </mat-drawer>-->
<div class="container">
    <div class="row">
        <div class="inner-main">
            <h2 class="mb-4">User Profile</h2>
            <p><strong>Name:</strong> {{this.currentUser.name}}</p>
            <p><strong>Email:</strong> {{this.currentUser.email}}</p>
            <p><strong>About:</strong> {{this.currentUser.about}}</p>
            <p><strong>Address:</strong> {{this.currentUser.address}}</p>
            <p><strong>MobileNo:</strong> {{this.currentUser.mobileno}}</p>

        </div>
    </div>
</div>
